<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guonima.mapper.MenuMapper">

    <resultMap id="menuResultMap" type="menuDO">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="parent_id" property="parentId" jdbcType="BIGINT"  />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="menu_key" property="menuKey" jdbcType="INTEGER"/>
        <result column="router" property="router" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="menuColumns" >
        id, parent_id, name, menu_key, router, icon, level,
        sort, remark, enabled, create_time
    </sql>

    <!-- 新增信息 -->
    <insert id="insert" parameterType="menuDO" useGeneratedKeys="true" keyProperty="id">
        insert into menu (
            parent_id, name, menu_key, router, icon, level,
            sort, remark, enabled, create_time
        )values (
            trim(#{parentId}), trim(#{name}), trim(#{menuKey}), trim(#{router}),
            trim(#{icon}), trim(#{level}), trim(#{sort}), trim(#{remark}), trim(#{enabled}), sysdate()
        )
    </insert>

    <!-- 修改信息 -->
    <update id="update" parameterType="menuDO">
        update menu
        <set>
            <if test="name != null and name != ''">
                name = trim(#{name}),
            </if>
            <if test="router != null and router != ''">
                router = trim(#{router}),
            </if>
            <if test="enabled != null">
                enabled = trim(#{enabled}),
            </if>
            <if test="menuKey != null">
                menu_key = trim(#{menuKey}),
            </if>
            <if test="remark != null and remark != ''">
                remark = trim(#{remark}),
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuKey != null">
                and menu_key = #{menuKey}
            </if>
        </where>
    </update>

    <!-- 删除信息  -->
    <delete id="delete" parameterType="menuDO">
        delete from menu where menu_key = trim(#{menuKey})
    </delete>

    <select id="getMenusInfo"  resultMap="menuResultMap" parameterType="menuDO">
        SELECT
        <include refid="menuColumns" />
        FROM menu
    </select>
</mapper>